:root {
  --bg-light: white;
  --bg-gray: rgb(111, 119, 129);
  --bg-blue: rgb(101, 215, 243);
  --bg-blue-alpha: rgba(101, 215, 243, 0.75);
  --bg-yellow: rgb(243, 243, 240);
  --min-width: 420px;
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--bg-gray);
  /* background-image: none;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: monospace; */
}

p {
  margin: 5px;
}
#content-main {
  height: 100%;
  margin: 0;
  /* padding: 5px; */
}

#head-container {
  height: 215px;
  margin: 20px;
  /* padding: 10px; */
  background-color: var(--bg-blue);
  border: 5px solid var(--bg-blue);
  border-radius: 10px;
  min-width: var(--min-width);
  overflow: hidden;
  position: relative;
}
#search-container {
  margin: 20px;
  padding: 10px;
  width: 420px;
  height: 160px;
  background-color: var(--bg-blue-alpha);
  border-radius: 6px;
  /* float: left; */
  position: absolute;
  z-index: 5;
}
#page-buttons-container {
  width: 100%;
  padding: 5px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  /* position: relative; */
}
#first-prev-container {
  margin-left: auto;
  margin-right: 0;
}
#numbered-buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
#next-last-container {
  margin-left: 0;
  margin-right: auto;
}

.page-button {
  /* font-size: 30px; */
  /* display: block; */
  margin: 0;
}
#display-page-num{
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 25px;
}

#bd-image-container {
  height: 100%;
  position: absolute;
  z-index: 1;
  border-radius: 8px;
  overflow: hidden;
}
#bd-image {
  width: 100%;
}


#movies-container {
  height: 70%;
  overflow: scroll;
  scrollbar-color: var(--bg-blue);
  background-color: var(--bg-blue);
  min-width: var(--min-width);
  border: 5px solid var(--bg-blue);
  border-radius: 10px;
  /* padding: 10px; */
  margin: 20px;
}
#movies-go-here {
  background-color: var(--bg-blue);
}
.movie-card {
  margin: 15px;
  padding: 10px;
  background-color: var(--bg-yellow);
  border: 3px solid var(--bg-light);
  border-radius: 8px;
}
.title {
  font-weight: bolder;
}
/* .desc {
  text-decoration: underline;
} */
.poster {
  width: 100%;
}
.poster-container {
  width: 15%;
  /* height: auto; */
  border-radius: 6px;
  overflow: hidden;
  float: left;
}

.movie-text-container {
  padding-left: 15px;
  width: 80%;
  display: block;
  float: left;
}

.clear-fix::after {
  content: "";
  display: block;
  clear: both;
}
