:root {
  --bg-light: white;
  --bg-gray: rgb(111, 119, 129);
  --bg-blue: rgb(101, 215, 243);
  --bg-blue-alpha: rgba(101, 215, 243, 0.75);
  --bg-yellow: rgb(243, 243, 240);
  --min-width: 440px;
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--bg-gray);
  /* background-image: none;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: monospace; */
}

p {
  margin: 5px;
}
#content-main {
  height: 100%;
  margin: 0;
  /* padding: 5px; */
  display: grid;
  grid-template-rows: 280px 1fr;
}

#head-container {
  /* height: 215px; */
  margin: 10px;
  background-color: var(--bg-blue);
  border: 3px solid var(--bg-blue);
  border-radius: 10px;
  min-width: var(--min-width);
  position: relative;
}
#search-container {
  margin: 15px;
  padding: 12px;
  width: 400px;
  height: 160px;
  background-color: var(--bg-blue-alpha);
  border-radius: 6px;
  /* float: left; */
  position: absolute;
  z-index: 5;
}
#movie-title {
  width: 155px;
}
#page-size {
  margin-left: 5px;
  width: 50px;
}

#page-buttons-container {
  width: 100%;
  padding: 5px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  /* position: relative; */
}
.page-button {
  margin: 0;
  border-radius: 0;
  font-weight: bolder;
}

#page-buttons-container  * {
  height: 22px;
}

#first-prev-container {
  margin-left: auto;
  margin-right: 3px;
}
#numbered-buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
#next-last-container {
  margin-left: 3px;
  margin-right: auto;
}


#no-movies-found {
  color: rgb(157, 11, 11);
  text-align: center;
  font-style: italic;
  font-weight: bolder;
  margin: 5px;
}

h1 {
  font-size: 25px;
}

#bd-image-container {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  border-radius: 8px;
  overflow: hidden;
  
}
#bd-image {
  width: 100%;
}

#movies-container {
  margin: 10px;
  background-color: var(--bg-blue);
  min-width: var(--min-width);
  border: 5px solid var(--bg-blue);
  border-radius: 10px;
  overflow: auto;
  scrollbar-color: gray rgba(0,0,0,0);
  /* scrollbar-color: var(--bg-blue); */
}

.movie-card {
  margin: 10px;
  padding: 10px;
  background-color: var(--bg-yellow);
  border: 3px solid var(--bg-light);
  border-radius: 8px;
}
.movie-number-heading {
  text-decoration: underline;
}
.title {
  font-weight: bolder;
}
/* .desc {
  text-decoration: underline;
} */
.poster {
  width: 100%;
}
.poster-container {
  width: 15%;
  /* height: auto; */
  border-radius: 6px;
  overflow: hidden;
  float: left;
}

.movie-text-container {
  padding-left: 15px;
  width: 80%;
  display: block;
  float: left;
}

.clear-fix::after {
  content: "";
  display: block;
  clear: both;
}
