* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-image: url(./images/cattoo_alpha.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: gray;
  font-family: monospace;
}
header {
  color: rgb(255, 78, 152);
  background-color: rgba(70, 70, 70, 0.5);
  padding: 20px 30px;
  margin: 0px;
}

h2 {
  color: rgb(241, 217, 234);
}
section {
  font-size: 14px;
  background-color: rgba(214, 247, 214, 0.884);
  padding: 30px;
  margin-top: 20px;
  box-shadow: 10px 10px 7px rgba(68, 68, 68, 0.5);
  display: grid;
  grid-template-columns: 1fr 4fr;
}
section h3 {
  font-size: larger;
  font-weight: bolder;
}

#main-list-box {
  font-size: 14px;
  background-color: rgba(214, 247, 214, 0.884);
  padding: 30px 40px;
  width: max-content;
  margin-top: 20px;
  box-shadow: 10px 10px 7px rgba(68, 68, 68, 0.5);
  position: relative;
}
.lab-num {
  font-size: larger;
  font-weight: bolder;
}
td {
  padding: 10px;
}

li {
  padding: 2px 10px;
}
.teal_bg {
  background-color: teal;
  color: yellow;
  font-size: larger;
  font-family: fantasy;
}

