* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#nav, #toc, .info-pic {
  background-color: #f3f3f3;
}
#header {
  height: 20px;
}

h1,
h2 {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1 {font-size: 28px;}
h2 {font-size: 20px;}

hr {
  margin: 2px 0px;
  color: #EEE;
}

#nav {
  width: 15%;
  float: left;
  padding: 15px;
  font-size: 13px;
}
#nav img {
  width: 95%;
  display: block;
  margin: auto;
}
#nav ul {
  list-style: none;
  padding: 0px;
  margin: 10px 0px 20px;
}
#nav li {
  margin: 0px 0px 5px 0px;
}

#content {
  width: 85%;
  float: left;
  padding: 15px;
  font-size: 14px;
}
.small-text {
  font-size: 11px;
  font-family: sans-serif;
  color: #333;
}
#content-header {
  padding-bottom: 20px;
}

.info-pic {
  float: right;
  width: 220px;
  height: auto;
  padding: 6px;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 2px #ccc solid;
  font-size: 11px;
  color: #222;
  text-align: center;
}
.info-pic h3 {
  background-color: rgb(169, 206, 169);
  margin: 0px;
  padding: 3px;
  font-size: 13px;
}
.info-pic span {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 5px;
}

#toc {
  width: 200px;
  border: 2px solid #999;
  margin: 10px 0px 20px;
  padding: 10px;
  font-size: 13px;
}
#toc-header {
  text-align: center;
  margin-bottom: 5px;
}
#toc ol {
  counter-reset: item;
  margin: 0 0 0 5px;
  padding: 5px;
}
#toc ol ol {
  padding-left: 20px;
}
#toc ol li {
  display: block;
  padding-top: 5px;
}
#toc ol li:before {
  content: counters(item,".")" ";
  counter-increment: item;
}

.section {
  margin-bottom: 30px;
}
.section h2 {
  display: inline;
}
.section-subtitle {
  margin: 6px 20px;
  font-style: italic;
  font-size: 11px;
  color: #333;
}