* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
  height: 40px;
}

h1, h2 {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

hr {
    margin: 2px 0px;
    color: #AAA;
}

#navigation {
  width: 15%;
  float: left;
  padding: 15px;
  background-color: #eee;
  font-size: smaller;
}
#navigation img {
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#navigation ul {
  list-style: none;
  padding: 0px;
  margin: 10px 0px 20px;
}
#navigation li {
    margin: 0px 0px 5px 0px;
}

#content {
  width: 85%;
  float: left;
  padding: 15px;
}
.small-text {
  font-size: 13px;
  font-family: sans-serif;
  color: #333;
}
#content-header {
  padding-bottom: 30px;
}
#content-body {
}
#content-text {
}
#thumb {
  float: right;
  width: 220px;
  height: auto;
  padding: 6px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: #eee;
  border: 2px  #CCC solid;
}

#thumb h3 {
  background-color: rgb(169, 206, 169);
  margin: 0px;
  padding: 6px;
  font-size: 16px;
  text-align: center;
}

#thumb span {
    /* box-sizing: content-box; */
    text-align: center;
    /* margin-top: 10px; */
}

#contents-list {
    float: left;
    border: 2px solid #999;
    margin: 10px 15px 10px 0px;
    padding: 10px;
}

.section-head {
    inset-block: ;
}

#footer {
  height: 60px;
}
