body {
  background-color: rgb(219, 219, 219);
}

h1 {
  border: 15px rgb(167, 167, 167) solid;
  box-sizing: content-box;
  background-color: rgb(142, 221, 96);
  padding: 20px;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h2 {
  margin: 10px;
  padding: 12px;
  background-color: rgb(238, 138, 188);
  border: 2px black solid;
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 260px;
}

.table-main {
  border: 5px rgb(141, 141, 167) solid;
  font-size: larger;
  font-family: monospace;
  text-align: center;
  padding: 20px;
  margin: 15px;
}

.table-head {
  background-color: rgb(238, 238, 178);
  border: 1px rgb(199, 199, 211) solid;
  text-align: right;
}

.table-cell {
  background-color: rgb(243, 243, 225);
  border: 1px rgb(199, 199, 211) solid;
  text-align: right;
}

.table-outer{
    width: 300px;
    border: 2px gray solid;
    padding-left: 40px;
}

#first_block {
  width: 50%;
  border: 25px solid seagreen;
  padding: 50px;
  margin: 20px;
  position: relative;
  left: 15%;
  
}

#second_block {
  width: auto;
  border: 20px dotted hotpink;
  padding: 30px;
  margin: 10%;
}

#third_block {
  width: 40%;
  border: 10px  skyblue;
  border-style: dashed double;
  padding: 2px;
  margin: 2px;
}