* {
  font-family: monospace;
  box-sizing: border-box;
  /* margin: 0; */
}

#math-box {
  margin: 15px;
  padding: 20px;
  width: 300px;
  border: 2px solid #111;
  border-radius: 25px;
  background-color: rgb(204, 204, 204);
  box-shadow: 12px 6px 8px rgb(138, 138, 138);
}
h1,
h2 {
  /* font-style: italic; */
  padding: 0.5em;
  margin: 0;
}
#calc-title {
  background-color: rgba(255, 255, 255, 0.712);
  border-radius: 0.5em;
  text-align: center;
}
.operand {
  margin: 10px 0;
}
.operand label {
  display: inline-block;
  font-size: 16px;
  text-align: right;
  width: 60%;
}
.operand input {
  font-size: 18px;
  width: 3em;
}

#op-buttons {
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: space-between;
}
button.operator {
  font-size: 20px;
  font-weight: bold;
  width: 36px;
  height: 36px;
  border-radius: 8px;
}

#result-box {
margin: 20px 0 20px;
  padding: 0.5em;
  height: fit-content;
  font-size: 16px;
  background-color: white;
  box-shadow: inset 3px 2px 3px rgb(138, 138, 138);
  border-radius: 5px;
}
#result {
  margin: 0;
  height: fit-content;
}
#history-box {
  background-color: rgb(242, 242, 243);
  border-radius: 10px;
}

#history {
  margin: 0;
}
#history * {
  /* padding: 5px; */
  padding: 5px;
}
.add-color {
  background-color: rgb(255, 255, 200);
}
.sub-color {
  background-color: rgb(210, 255, 253);
}
.mul-color {
  background-color: rgb(255, 236, 200);
}
.div-color {
  background-color: rgb(200, 228, 255);
}
.exp-color {
  background-color: rgb(255, 200, 200);
}
.mod-color {
  background-color: rgb(230, 200, 255);
}
